/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */


.navigation-topic-title {
    display: block;
    border:1px solid grey; 
    background-color: #ffffaa;
    border-bottom: 1px solid green;
    width: 94%;
    padding:2px;
    margin:0;
}

.navigation-topic {
    display: block;
    padding:0;
    margin:0; 
}

.main .navigation {
    padding: 3px;
    /* margin:5px; */
    float: left;
    position: relative;
    width: 20%;
    border: 1px dashed black;
}

.main .content {
    border: 1px dashed black;
    float: right;
    width: 75%;
    position: relative;
}

.content {
    padding: 15px;
}

#navigation-search {
    width: 95%;
    height: 22px;
    border: 1px solid black;
    margin-bottom: 5px;
    margin-top: 5px;
}

.navigation-item {
   padding: 3px;
}

.moo_tree li {
  list-style-type: none;
}

.moo_tree_ctrl {
  position: relative;
  float: left;
  margin-left: -12px;
  width:0px;
  height:0px;
  cursor: pointer;
}

.moo_tree_more {
  border-left: 5px solid #000;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  top: 7px;
  left: 96%;
}

.moo_tree_less {
  margin-left: -14px;
  border-left: 5px solid transparent;
  border-top: 5px solid #000;
  border-right: 5px solid transparent;
  top: 7px;
  left: 96%;
}

.navigation-menu-hide-item {
    display: none;
}

.main {
    padding: 8px;
    border: 1px dashed black;
    position: relative;
    overflow: hidden;
}

.header {
    top: 0px;
    clear: all;
    width: 99.9%;
    margin-bottom: 5px;
    border: 1px dashed black;
    display: block;
    text-align: center;
}

.footer {
    bottom: 0px;
    clear: all;
    height: 25px;
    width: 99.9%;
    margin-top: 5px;
    border: 1px dashed black;
    display: block;
    text-align: center;
}


p {
    margin: 10px;
}

.domain-settings table, th, td {
    margin: 10px;
    border: 1px dashed black;
    padding: 10px;
    text-align: center;
}

.domain-settings-table tr,
.domain-settings-table  td, {
    border: 1px solid red;
}

.message, .error {
    padding: 5px;
    margin: 5px;
}


.content-item {
    width: 162px;
    height: 101px;
    border: 1px solid black;
    display: block;
    float: left;
    margin:  0.77em 1.538em 0.77em 0px;
    text-align: center;
}

.account_search p,
.domain_search p {
    float: left;
}

.clear-float {
    clear: both;
    display: block;
}

.domain-settings p,
.account-settings p {
    margin-bottom: 10px;
}

.domain-settings h2,
.domain-settings h3,
.account-settings h2,
.account-settings h3 {
    margin-top: 25px;
    margin-bottom: 15px;
    background-color: #ffffaa;
    min-height: 25px;
    border:1px solid grey;
    padding:5px 5px 2px 5px;
    margin: 10px 0 0 0;
}

.domain-settings h3,
.account-settings h3 {
    min-height: 18px;
    padding:2px 2px 0px 2px;
    font-size: 14px;
    background-color: #FAFA89;
    margin: 10px 0 0px 0;
}

.account-settings table,
.account-mail-settings table {
    width: 100%;
}


.account_enabled_services,
.account_enabled_services {
    margin-bottom: 20px;
    min-height: 80px;
    overflow:auto;
}

.per_domain_account_defaults p,
.account_enabled_services p,
.domain_enabled_services p {
    float: left;
}

.per_domain_account_list  li{
    float: left;
    margin:  0.77em 1.538em 0.77em 0px;
    border: 1px solid black;
    width: 90px;
    height: 50px;
    text-align: center;
}


.content-ip-addresses h2 {
    min-heigh: 30px;
    border-bottom: 1px solid black;
    padding: 5px;
    background-color: #ffffaa;
}

.content-ip-addresses {
    width: 80%;
    min-height: 100px;
    overflow: auto;
    border: 1px solid black;
    margin-bottom: 10px;

}

.edit-account-settings-wrapper p,
.account-change-password-wrapper p,
.account-verify-password-wrapper p {
    float: left;
}

.account-verify-password-result-valid {
    color: green;
}

.account-verify-password-result-invalid {
    color: red;
}

.change-password p,
.release-queues p,
.release-single-queue p,
.reject-single-message p,
.reject-messages p,
.release-messages p {
    float: left;
}

.realtime-log-wrapper {
    min-height: 400px;
    height: 450px;
    overflow-y:scroll;
}

.realtime-log-new-data {
    padding: 5px;
    border-bottom: 1px dashed black;
}


.account-mail-settings-rules {
    margin: 10px 5px 10px 5px;

}

.account-mail-settings-rules h4 {
    min-height: 18px;
    padding:2px 2px 0px 2px;
    font-size: 12px;
    background-color: #FAFA85;
    margin: 0;
    border-bottom: 1px dashed black;
}

.account-mail-settings-rules h5 {
    background-color: red;
    margin: 5px 10px 5px 10px;
    border-bottom: 1px dashed black;
    background-color: #FAFA86;
}
