[% USE Math %]
[% gb = (1024*1024*1024) %]
[% mb = gb / 1024  %]
[% kb = 1024 %]
[% IF size_in_bytes > gb %]
[% Math.int(size_in_bytes / gb) _ ' GB'%]
[% ELSIF size_in_bytes > mb %]
[% Math.int(size_in_bytes / mb) _ ' MB'%]
[% ELSIF size_in_bytes > kb %]
[% Math.int(size_in_bytes / kb) _ ' KB'%]
[% ELSE %]
[% size_in_bytes _ ' B'%]
[%END%]
