<p>Filename: <a href="[% c.uri_for('/logs/download/' _ log_file ); %]" title="Download file" > [% log_file %] </a> </p>

[% FOR f IN log_file_contents %] 
  <p>
    [% FILTER html%]	
     [% f %]
    [% END %]
  </p>
[%END%]

