<p>[% log_topic %]</p>
<table>
  <thead>
    <tr>
      <th>
	Log file
      </th>
      <th>
	Size
      </th>
    </tr>
  </thead>
  <tbody>
    [% FOR t IN logs_by_topic %]
    <tr>
      <td>
	<a href="[% c.uri_for('/logs/file/' _ t.log  ); %]">[% t.log %]</a>
      </td>
      <td>
      [% size_in_bytes = t.size %]
      [% PROCESS includes/bytes.tt2 %]
      </td>
    </tr>
    [% END %]
  </tbody>
</table>
