<div class="domain-settings">
<p>Domain (effective) settings for: [% domain %]</p>


<table class="domain-settings-table" >
<tbody>
<tr>
  <th>
    Key
  </th>
  <th>
    Value
  </th>
</tr>
[% FOREACH s IN domain_settings.keys %]
<tr>
  <td>
    [% s %]
  </td>
  <td>
    [% val = domain_settings.$s %]
    [% IF NOT val.size %]
        [% FOR v IN val.size %]
	[% val.$v _ ',' %]
	[% END %]
    [% ELSE %]
    [%  val %]
    [% END %]
  </td>
</tr>
[% END %]
</tbody>
</table>
</div>
