[%# Listing is included in domains/search.tt2. %]
[%# Careful with edits and layout. %]

<table>
  <thead>
    <tr>
      <th>
	Domain
      </th>
      <th>
	Accounts
      </th>
    </tr>
  </thead>
  <tbody>
    [% FOR d IN domains %]
    <tr>
      <td>
	<a href="[% c.uri_for('/domains/' _ d ); %]">[% d %]</a>
      </td>
      <td>
	<a href="[% c.uri_for('/accounts/~search/' _ d ); %]">[% d %]</a>
      </td>
    </tr>
    [% END %]
  </tbody>
</table>
