<table>
  <thead>
    <tr>
      <th>
	Domain
      </th>
    </tr>
  </thead>
  <tbody>
    [% FOR d IN domains %]
    <tr>
      <td>
	<a href="[% c.uri_for('/domains/' _ d ); %]">[% d %]</a>
      </td>
    </tr>
    [% END %]
  </tbody>
</table>
